<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" th:href="@{/css/bootstrap4.css}">

		<title>Add Product</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light justify-content-around">
			<h3 th:text="|${#strings.capitalize(action)} Product|"></h3>
		</nav>
		<p>
			<a th:href="@{/}">
				Back to product list
			</a>
		</p>
		<div id="form" class="container">
			<form th:action="|@{/product/}${action}|" th:object="${product}" method="POST" >
				<input type="hidden" th:field="*{id}"/>
				<div>
					<label for="name">Name</label>
					<input class="form-control" type="text" th:field="*{name}" id="name"/>
				</div>
				<div>
					<label for="quantity">Quantity</label>
					<input class="form-control" type="text" th:field="*{quantity}" id="quantity"/>
				</div>
				<div>
					<label for="price">Price</label>
					<input class="form-control" type="text" th:field="*{price}" id="price"/>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>

		<div th:replace="/layout :: bootstrapJs"></div>
	</body>
</html>