label {
    color: #333;
    height: 20px;
    width: 200px;

    text-align: right;
    margin-right:15px;
    float:left;
}
input {
    height: 30px;
    width: 300px;
    border: 1px solid #000;
}
button{
    padding: 5px;
    margin-left: 20px;
}
div{
    padding: 5px;
}
