<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>List Blogs</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<a href="/blogs/create">Create new blog</a>
		<h1>Blogs</h1>
		<div>
			<p th:text="${message}"></p>
		</div>

		<input type="text" id="findValue" name="findValue">
		<button onclick="search();">Search</button>

		<div id="listTable">
			<table border="1">
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Uploader</th>
					<th>Category</th>
					<th colspan="2">Actions</th>
				</tr>
				<tr th:each="blog,count : ${listBlog}">
					<td th:text="${count.index + 1}"></td>
					<td th:text="${blog.title}"></td>
					<td th:text="${blog.uploader}"></td>
					<td th:text="${blog.category.name}"></td>
					<td><a th:href="@{/blogs/edit/__${blog.id}__}">Edit</a></td>
					<td><a th:href="@{/blogs/delete/__${blog.id}__}">Delete</a></td>
				</tr>
				<div>
					<a th:href="@{/blogs(page=${listBlog.number - 1})}" th:if="${listBlog.hasPrevious()}">Previous</a>
					<span th:text="${listBlog.number + 1}"></span>/<span th:text="${listBlog.totalPages}"></span>
					<a th:href="@{/blogs(page=${listBlog.number + 1})}" th:if="${listBlog.hasNext()}">Next</a>
				</div>
			</table>

			<button id="moreBlog">More</button>
		</div>
		<div>
			<a href="index.jsp">Home</a>
		</div>

		<script>
            function search() {
                const name = $("#findValue").val();
                $.ajax(
                    {
	                    type: "GET",
                        url: "/blogs/search/" + name,
	                    dataType: "HTML",
                        success: function (data) {
							$("#listTable").html(data);
                        }
                    }
                )
            }
		</script>
	</body>
</html>