<div class="container-fluid py-5">
  <div class="table-title">
    <div class="row text-center">
      <div class="col-12">
        <h2>Manage <b>Customer</b></h2>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-header px-4 py-2 bg-light">

        </div>
        <div class="card-body p-4 bg-light rounded">

          <span class="mb-2 bg-success text-white rounded py-2"></span>
          <div class="table-responsive">
            <table id="tableCustomer" class="table table-striped table-hover">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Customer Type</th>
                <th>Birthday</th>
                <th>ID Card</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let customer of listCustomer">
                <td>{{customer.idCard}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.type.name}}</td>
                <td>{{customer.birthday|date: 'dd-MM-yyyy'}}</td>
                <td>{{customer.idCard}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.address}}</td>
                <td>
                  <a>Edit</a>
                  <a>Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
