td{
    border: 1px solid black;
    width: 12px;
    height: 12px;
    font-size: 6px;
    padding: 0;
}

td:hover{
    background-color: bisque;
}

img{
    width: 12px;
    height: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}